<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springboot.mapper.FoundMapper">

    <select id="selectAll"  resultType="com.example.springboot.entity.Item">
        select * from found
        <where>
            <if test="name != null">name like concat('%', #{name}, '%')</if>
        </where>
        order by id desc
    </select>

    <insert id="insert" parameterType="com.example.springboot.entity.Item">
        insert into `found` (name, description, place, time, post_time, picture, poster_id, phone)
        values(#{name}, #{description}, #{place}, #{time}, #{postTime}, #{picture}, #{posterId}, #{phone})
    </insert>

    <update id="updateById" parameterType="com.example.springboot.entity.Item">
        update `found`
        set name=#{name}, description=#{description}, place=#{place}, time=#{time}, post_time=#{postTime}, picture=#{picture}, poster_id=#{posterId}, phone=#{phone}
        where id = #{id}
    </update>
</mapper>